.table {
	display: flex;
	flex-direction: column;
	gap: 10px;
	margin-bottom: 75px;
}

.table-header {
	background-color: #9a9a9d;
	color: #fff;
	font-weight: bold;
	border-radius: 10px;
}

.row {
	padding: 10px;
	height: 2rem;
	max-height: 2rem;
	gap: 10px;
}

.row:not(.table-header) {
	background-color: #f5f5f5;
}

.row div {
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	display: flex;
	align-items: center;
}
